#setMain{
    display: flex;
}

#sectionBorder{
    border-right: 1px solid var(--font_color);
    width: 49.8vw;
    height: 100vh;
}

#asideBorder{
    border-left: 4px solid var(--font_color);
    width: 100vw;
    height: 100vh;
}

