.adjustDivs{
    margin: auto;
    padding: 2%;
    font-size: 25px;
    max-width: min-content;
}

.adjustInputs{
    color: var(--font_color);
    font-family: 'IBM BIOS', monospace;
    font-size: 20px;
    background-color: var(--background);
    border: 2px solid var(--font_color);
    width: 1050px;
    height: 20px;
    margin: auto;
    padding: 0.5%;
    line-height: 1;
}

.adjustInputs:focus{
    outline: none;
}

#setBody{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.shiftText{
    text-align: left;
}

#titleIncrease{
    font-size: 100px;
    margin: auto;
    padding: 5%;
}

#garIncrease{
    font-size: 35px;
}

#adjustButton{
    color: var(--font_color);
    font-family: 'IBM BIOS', monospace;
    font-size: 30px;
    background-color: var(--background);
    border: 2px solid var(--font_color);
    padding: 10%;
}

#adjustButton:hover{
    color: var(--background);
    background-color: var(--font_color);
}
