.generatedDivs{
    width: 100%;
    border-bottom: 4px solid var(--font_color);
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

.alignItems{
    margin-left: 2%;
    color: var(--font_color);
    background-color: var(--background);
    font-family: 'IBM BIOS', monospace;
    text-align: left;
    border: 1px solid black;
    font-size: 18px;
    padding: 6%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alignItems:hover,
.alignItems.active{
    text-decoration: underline;
}

.displayUnread{
    text-align: right;
    margin-right: 10%;
}